body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  /* border: solid; */
}

.card {
  margin: 15px;
  width: 80%;
  min-width: 25rem;
  padding: 10px;
  border-radius: 0rem;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: min-content;
  margin: 15px auto;
  /* border: solid 1px #e6e6e6; */

}

.titleTag {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
  align-items: center;

}



.delete, .edit {

  margin: 0 1rem 0 0;

}

.titleInfo {
  margin: 5px;

}

.AddNew {
  border-radius: 20px;
  background: linear-gradient(145deg, #212529, #212427);
  box-shadow: 5px 5px 10px #3a3a3a,
    -5px -5px 10px #5a5a5a;
  padding: 20px 25px;
  border: none;
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 5;
}

.AddNew i {
  font-size: 1.5rem;
  color: #f5f5ff;
}

.closeButton {
  float: right;
  background: none;
  border: none;
}

.fa-xmark {
  font-size: 1.5rem;
  color: #fff;
}

.fa-xmark:hover {
  color: #84d56e;
  animation: rotate 1s;
}

.form {
  flex-direction: column;
  padding: 15px;
  width: 100%;
}

.form input {
  margin: 10px 0;
  background: none;
  outline: none;
  border: solid 1px #ccc;
  width: 100%;
  color: #fff;
}

.form input:focus {
  border: solid 1px #84d56e;
}

.form label {
  margin-top: 10px;
}

.form button {
  background: none;

  border: solid 1px #84d56e;
  color: rgb(255, 255, 255);
  padding: 5px 8px;
  border-radius: 5px;

}

.form button:hover {
  background-color: #84d56e;
  border: none;
  color: rgb(48, 47, 47);
}

.textInfo {
  margin: 0 10px;
  width: 100%;
}
.options{
  float: right;
}
.options button{
  margin: 8px;
}
.category {
  width: min-content;
  font-style: italic;
  font-size: 1rem;
  font-weight: 300;
}

.formcard {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 25px;
  justify-content: space-evenly;
  margin: 15px auto;
  /* border: solid  #84d56e; */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.history {
  padding: 25px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
  border: solid 1px #2f2f2f;
}

.history h5, h6 {
  margin: 0 15px;
}

video {
  max-width: 100%;
  max-height: auto;
}

.historyIcons {
  font-size: 1rem;
  color: #84d56e;
}

.historyContainer {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-top: 3rem;
}

.videoTextInfo h3 {
  font-weight: 400;
  /* font-size: 1.2rem; */
  margin: 15px;
}

.sideHeading {
  font-size: 1.2rem;
  font-weight: bold;
  /* margin: 15px; */
}

.videoTextInfo h6 .sideHeading {
  font-size: 0.8rem;

}

.myButton {
  background: none;
  border: none;
  font-size: 2rem;
  color: #f5f5ff;
}

.myPill {

  border: none;
  margin: 16px 15px 10px 15px;
  border-radius: 36px;
  padding: 4px 20px;
  background: linear-gradient(145deg, #4f4f4f, #434343);
  box-shadow: 1px 1px 2px #3f3f3f,
    -1px -1px 2px #555555;
  color: #f5f5ff;
}

nav {
  /* border-bottom: solid 1px #000000; */
  /* border-radius: 29px; */
  background: linear-gradient(145deg, #212529, #212427);
  box-shadow: 5px 5px 10px #3a3a3a,
    -5px -5px 10px #5a5a5a;
}

.logo {
  width: 2.5rem;
  height: auto;
  max-width: 100%;
  max-height: auto;
}

.logoPart {
  justify-content: center;
  align-items: center;
}

.myHistoryButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #f5f5ff;
}